/* universal selector */
*{
    margin: 0;
    padding: 0;
   
}
/* share elements */
.btn {
    width: 164px;
height: 44px;
padding: 12px 16px 12px 16px;
border-radius: 4px;
 background: #30B868;
  color:  white;
 font-style: Semi Bold;
font-size: 16px;
text-align: center;
}
.btn:hover{
    background: lightsalmon;
}

.space{
    max-width: 1170px;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    align-items: center;
}


.link-parent{
    display: flex;
    gap: 30px;
    list-style: none;
    font-style: Medium;
    text-transform: capitalize;
   
}
.link-parent a{
    text-decoration: none;
     color: #000000;
}
.link-parent a:hover{
    color: green;
}
   .hero-content {
  background-image: url(/assets/hero-bg.png);
  max-width: 1170px;
  height: 500px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       
  text-align: center;
}
.btn1{
    width: 200px;
height: 19px;
display: flex;
justify-content: center;
align-items: center;
padding: 8px 12px 8px 12px;
border-radius: 10px;

}
.btn1:hover{
    color: #30B868;
}
.hero-content h1{
    font-style: Bold;
font-size: 72px;
font-weight: 700;
color: white;
}
.hero-content p{
   max-width: 700px;
   margin: 20px auto;
   font-size: 18px;
   line-height:1.6;
   color: white;
    
}
.hero-content .button{
    width: 300px;
    height: 30px;
    display: flex; 
    gap: 10px;
    border-radius: 6px;
}
.btn2{
    background: #30B868;
  color:  white;
 font-style: Semi Bold;
font-size: 16px;
text-align: center;

}
.btn2:hover{
    color:blueviolet;
     cursor: pointer;    
}
.btn3{
   background-color: transparent;
   color: white;
}
.btn3:hover{
    color:blueviolet;
     cursor: pointer; 
     }